<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<servlet>
		<servlet-name>reg</servlet-name>
		<servlet-class>com.vocab.reg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reg</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>
            30
        </session-timeout>
	</session-config>
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>com.vocab.home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>authorize</servlet-name>
		<servlet-class>com.vocab.authorize</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authorize</servlet-name>
		<url-pattern>/authorize</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.vocab.add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>profile</servlet-name>
		<servlet-class>com.vocab.profile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profile</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.vocab.logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
        <servlet>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.vocab.changePassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/change</url-pattern>
	</servlet-mapping>
        
        <servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>com.vocab.deleteAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/deleteAcc</url-pattern>
	</servlet-mapping>
        
        <servlet>
		<servlet-name>DeleteWord</servlet-name>
		<servlet-class>com.vocab.deleteword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteWord</servlet-name>
		<url-pattern>/deleteWord</url-pattern>
	</servlet-mapping>
</web-app>
